<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
    <!-- Example of a simple login form -->
    <form action="/login" method="post">
        Login: <input type="text" name="login"><br>
        Password: <input type="password" name="password"><br>
        <input type="submit" value="Login">
    </form>
</body>
</html>
