<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <h2>View Profile</h2>
    <form action="/home" method="post">
        Username: <input type="text" name="profile_username" required><br>
        Media: <input type="checkbox" name="media">
        Limit: <input type="integer" name="limit">
        <input type="submit">
    </form>
</head>
<body>
    
</body>
</html>